.home-container {
  padding: 10px;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  height: 365px;
  border-radius: 10px;
  background-color: #00285f;
}

.home-content-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-content-container h1 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 13px;
}

.home-content-container p {
  font-size: 14px;
  width: 251px;
  color: #fff;
  padding-bottom: 35px;
}

.home-image-container svg {
  width: 244px;
  height: auto;
  padding: 0 10px 40px 10px;
}

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 123px;
  width: 100%;
  background-color: #e1e1e1;
  margin-top: 21px;
  border-radius: 10px;
}

.small-card p {
  font-size: 18px;
  color: #585858;
  margin-top: 10px;
}

.small-card button {
  width: 174px;
  height: 40px;
  background: #00285f;
  border-radius: 5px;
  margin-top: 20px;
}

.small-card h4 {
  font-size: 14px;
  color: #fff;
  background-color: #00285f;
  text-transform: uppercase;
}

@media (min-width: 576px) {
    .home-image-container svg {
        width: 333px;
        padding: 0 10px 10px 10px;
    }

    .home-content-container h1 {
        font-size: 36px;
        margin-bottom: 0;
      }
      
      .home-content-container p {
        font-size: 18px;
        width: 420px;
        padding-bottom: 25px;
      }

      .small-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 80px 0 80px;
      }

      .small-card button {
        margin-bottom: 25px;
      }
}

@media (min-width: 768px) {
    .home-card {
        height: 475px;
      }

      .home-content-container p {
        padding-bottom: 50px;
      }

      .small-card {
        padding: 0 250px 0 100px;
      }

}

@media (min-width: 992px) {
    .home-card {
        height: 579px;
    }

    .home-image-container svg {
        width: 455px;
    }

    .small-card {
        padding: 0 480px 0 100px;
      }
}

@media (min-width: 1280px){
    .home-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .home-content-container{
        flex-direction: row-reverse;
        text-align: left;
        padding-bottom: 80px;
    }

    .home-content-container svg {
        padding-left: 50px;
        width: 333px;
        height: auto;
      }
    
      .home-card {
        width: 979px;
        height:365px;
        align-items: center;
        margin: 20px 150px 30px 150px;
    }

    .small-card {
        width: 979px;
        margin: 0 150px 102px 150px;
    }
}
